body{
    margin: 0px;
}

header .logo a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 30px;

}

header{
    background-color:  rgb(253, 168, 211);
    display: flex;
    justify-content: space-between;
    padding: 10px 10vw;
    align-items: center;
    color: #fff;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 18px;
    transition: 0.5s;
}

header nav ul li a:hover{
    transition: 1s;
    background-color: #ffffff41;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}